<html>
<head>
  <link rel="stylesheet" href="../static/kuken.css" type="text/css">
  <script src="../static/kuken.js" type="text/javascript"></script>
</head>
<body>
<div>
    <div id='dform'>
        <form id='formform'> 
          <label for='namn'>
          Namn:
          </label>
          <input for="namn" type="text" required>
          <label for="tex">
          Text:
          </label>  
          <textarea id="text" id='longtext' type="text"></textarea>
          <input type="submit" value="Skicka" onsubmit="" required>
        </form>
        </div>
</div>
<div>
    <ul id="lista">
    </ul>
</div>




</body>




</html>
