<html>
<head>
  <link rel="stylesheet" href="../static/kuken.css" type="text/css">
  <script src="../static/kuken.js" type="text/javascript"></script>
</head>
<body>
<div>
    <div id='dform'>
        <form onsubmit="skickaSkit(this);return false;" id='formform'> 
          <label for='namn'>Namn: </label>
          <input id="namn" type="text" required>
          <label for="text">Text: </label>  
          <textarea id="text" type="text" required></textarea>
          <input type="submit" value="Skicka" >
        </form>
    </div>
</div>
<div>
    <ul id="lista">
    </ul>
</div>




</body>




</html>
